@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
    @font-face {
        font-family: 'sprat';
        src: local('Sprat'), local('sprat'), url('/assets/fonts/sprat/Sprat-Regular.otf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'sprat';
        src: local('Sprat'), local('sprat'), url('/assets/fonts/sprat/Sprat-RegularMedium.otf');
        font-weight: 500;
        font-display: swap;
    }
    @font-face {
        font-family: 'sprat';
        src: local('Sprat'), local('sprat'), url('/assets/fonts/sprat/Sprat-RegularBold.otf');
        font-weight: 600;
        font-display: swap;
    }

    @font-face {
        font-family: 'uncut-sans';
        src: local('Uncut-Sans'), local('Uncut Sans'), local('uncut-sans'), local('uncut sans'),
        url('/assets/fonts/uncut-sans/Uncut-Sans-Regular.otf');
        font-weight: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'uncut-sans';
        src: local('Uncut-Sans'), local('Uncut Sans'), local('uncut-sans'), local('uncut sans'),
        url('/assets/fonts/uncut-sans/Uncut-Sans-Medium.otf');
        font-weight: 500;
        font-display: swap;
    }
    @font-face {
        font-family: 'uncut-sans';
        src: local('Uncut-Sans'), local('Uncut Sans'), local('uncut-sans'), local('uncut sans'),
        url('/assets/fonts/uncut-sans/Uncut-Sans-Semibold.otf');
        font-weight: 600;
        font-display: swap;
    }
}
